@font-face {
  font-family: 'Lato';
  src: url('/style/fonts/lato/lato-black.eot');
  src: url('/style/fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('/style/fonts/lato/lato-black.woff') format('woff'), url('/style/fonts/lato/lato-black.ttf') format('truetype'), url('/style/fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/style/fonts/lato/lato-bold.eot');
  src: url('/style/fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('/style/fonts/lato/lato-bold.woff') format('woff'), url('/style/fonts/lato/lato-bold.ttf') format('truetype'), url('/style/fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/style/fonts/lato/lato-bolditalic.eot');
  src: url('/style/fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('/style/fonts/lato/lato-bolditalic.woff') format('woff'), url('/style/fonts/lato/lato-bolditalic.ttf') format('truetype'), url('/style/fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/style/fonts/lato/lato-italic.eot');
  src: url('/style/fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('/style/fonts/lato/lato-italic.woff') format('woff'), url('/style/fonts/lato/lato-italic.ttf') format('truetype'), url('/style/fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/style/fonts/lato/lato-light.eot');
  src: url('/style/fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('/style/fonts/lato/lato-light.woff') format('woff'), url('/style/fonts/lato/lato-light.ttf') format('truetype'), url('/style/fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/style/fonts/lato/lato-regular.eot');
  src: url('/style/fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('/style/fonts/lato/lato-regular.woff') format('woff'), url('/style/fonts/lato/lato-regular.ttf') format('truetype'), url('/style/fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 18px;
  color: #525d67;
  background: #FFF;
  font-family: "Lato","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0,0,0);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.home {
  margin-top: 50px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 20px 0;
  color: #2c3e50;
}

h1, h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
  font-weight: bolder;
}

h4 {
  font-size: 1.8rem;
  color: #bdc3c7;
}

h5, h6 {
  font-size: 1.4rem;
}

hr {
  width: 10%;
  border: 1px solid #eee;
  margin-bottom: 30px;
}

.content h3 {
  margin: 40px 0 40px 0;
}

.container {
  max-width: 900px;
  background: #FFF;
  overflow: hidden;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  padding-top: 40px;
}

.hidden {
  display: none;
}

.banner {
  font-size: 1.4rem;
  background: white;
  border-bottom: 1px solid #ECF0F1;
  padding: 2px 0 2px 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.banner ul li {
  margin-bottom: 0px;
  padding-right: 5px;
}

.banner a {color:#7F8C8D;}

.banner a:hover {
  text-decoration: none;
  background: #FFF;
}

a {
  color: #34495E;
}

.title {
  font-size: 4rem;
  margin-left: -5px;
  margin-bottom: 30px;
  color: #747f8c;
}

.justtitle {
  font-size: 1.8rem;
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #38485a;
}

.eof {
  text-align: center;
  font-size: 16px;
}

.content, blockquote {
  font-size: 1.8rem;
  line-height: 2.2em;
  color: #525d67;
}

.content i, .content em {
  color: #7f8c8d;
  font-style: normal;
}

.content img {
  height: auto;
  width: 100%;
  display: inline-block;
  margin: 10px auto;
  border-radius: 4px;
}

blockquote p {
  font-weight: 400;
  line-height: 2.3em;
  font-size: 1.8rem;
}

.more .title {
  font-size: 1.1em;
}

.forb {
  text-align: right;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #747f8c;
}

.date {
  color: #FFF;
  font-weight: bolder;
  text-transform: uppercase;
}

.date a:link {
  color: #FFF;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.date a:visited {
  color: #FFF;
  text-decoration: none;
}

.end {
  margin-top: -20px;
}

blockquote {
  border-left: 5px solid #f1f1f1;
  margin-bottom: 30px;
}

.footer a:link {
  color: #747f8c;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.comments a:link {
  color: #747f8c;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.comments a:visited {
  color: #747f8c;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.content strong {
  color: #38485a;
  margin: 0px 3px 0px 3px;
}

.comments {
  margin-bottom: 30px;
  margin-top: 50px;
}

.comments .comment {
  font-size: 16px;
}

.archive,.content {
  list-style: none;
  padding: 0;
}

.archive {
  margin-top: -30px;
}

.archive li {
  line-height: 1.5em;
  margin: 0 0 1.5rem;
  padding: 0;
  list-style: none;
}

.archive li time {
  color: #95a5a6;
}

.archive .year {
  color: #6b747f;
  text-transform: uppercase;
  margin: 25px 0;
  font-weight: bolder;
}

ul,ol {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
}

.content ul,li {
  list-style: initial;
  margin-bottom: 20px;
  line-height: 2em;
}

code {
  border: 1px dashed #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 1px 1px #FFF;
  background: #FFF;
  color: #6b747f;
  font-size: 18px;
  margin: 0 5px 0 5px;
}

pre {
  background: #f7fafb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  line-height: 2.2em;
  margin-bottom: 25px;
  padding: 10px;
}

pre code {
  border: none;
  box-shadow: none;
  font-size: 14px;
  margin: 0px;
  color: #4e5a66;
}

#disqus_container .comment {
  margin-left: -5px;
}

.info,.suggest {
  color: #bababa;
  font-size: 1.6rem;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;
}

.suggest,.pre {
  float: left;
}

.suggest,.next {
  float: right;
}

.index .title {
  font-size: 25px;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.nav-pills > li > a:hover {
  /*color: white;*/
  background-color: white;
}

.nav-pills>li+li {
  margin-left: -10px;
}

.poster,.content p,.content ul,.date {
  margin-bottom: 30px;
}

.footer a:visited,.forb a:link,.suggest a:link,.forb a:visited,.suggest a:visited {
  color: #747f8c;
  text-decoration: none;
}

.forb a:hover, .suggest a:hover {
  color: #3498DB;
}

.title a:link,.title a:visited, {
  color: #41464a;
  text-decoration: none;
}

.footer a:hover {
  color: #41474e;
}

.content a {
  border-bottom: 2px solid #ecf0f1;
}

.content .center {
  font-size: 15px;
  font-style: italic;
  color: #bdc3c7;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}

.archive a, .tagcloud a, .about a, sup a, .footnotes a{
  border: 0px;
}

.content a:visited,.content a:link,.content a:hover {
  color: #747f8c;
  margin: 0 2px;
  padding: 3px;
}

.content a:hover {
  color: #1ABC9C;
}

.content .collect_info {
  margin-bottom: 40px;
  color: #747f8c;
}

/* table */

.content table {
  margin-bottom: 25px;
  font-size: 1.6rem;
  width: 100%;
}

.content table thead {
  border-bottom: 2px solid #ecf0f1;
}

.content table thead tr th:first-child {
  width: 250px;
}

.justtitle a:hover {
  color: #747f8c;
}

.tagcloud span a:link, .tagcloud a:visited,.tagcloud a:hover  {
  margin: 0px 0px 0px 0px;
}

.footnotes {
  border-top: 1px solid #f0f0f0;
  font-size: 1.5rem;
  padding-top: 30px;
  color: #747f8c;
}

.footnotes ol {
  margin-left: -15px;
}

.footnotes ol li {
  list-style: decimal;
  line-height: 2em;
  margin-bottom: -10px;
}

::selection {
  background: #f7fafb; /* Safari */
}

::-moz-selection {
  background: #f7fafb; /* Firefox */
}

.author {
  max-width: 700px;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.author .icon {
  text-align: center;
}

.author .icon img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border:1px solid #eee;
}

.author .name, .author .description {
  text-align: center;
  border-radius: 4px;
  margin: 10px auto;
  font-size: 14px;
  padding: 5px;
  text-shadow: 0 1px 0 white;
}

.author .name {
  width: 100px;
}

.aboutme {
  text-align: center;
}

.aboutme img {
  max-width: 256px;
  max-height: 256px;
  border-radius: 128px;
  border: 10px solid #f7fafb;
}

.me {
  text-align: center;
}

.me img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 160px;
  border: 5px solid #f1f1f1;
  text-align: center;
  margin-bottom: 30px;
}

.justtitle span{
  color: #BDC3C7;
  margin-right: 5px;
}

.indeximg img{
  border-radius: 20px;;
}

.newpost span{
  color: #BDC3C7;
}

.not { text-align: center;}

.notfound {
  text-align: center;
  font-size: 6rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
