@font-face {
  font-family: 'Avenir Next';
  src: url("/style/fonts/AvenirNextLTPro-Cn.otf");
  font-weight: bold;
  font-style: normal;
  }

html {
  height: 100%;
}

body {
  font-size: 15px;
  color: #2f373e;
  height: 100%;
  background: #fbfbfb;
  font-family: 'Avenir Next', "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0,0,0);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;

  background: transparent;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url('/images/2019/bg.jpg');
  background-attachment:fixed;
}

.copyright {
  font-size: 12px;
  color: white;
  margin-top: 20px;
}

.home {
  margin-top: 50px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 20px 0;
  color: #2c3e50;
}

h1, h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
  font-weight: bolder;
}

h4 {
  font-size: 1.8rem;
  color: #bdc3c7;
}

h5, h6 {
  font-size: 1.4rem;
}

hr {
  width: 10%;
  border: 1px dashed #eee;
  margin-bottom: 30px;
}

.content h3 {
    margin: 40px 0 40px 0;
}

.content ul,li {
    list-style: initial;
    margin-bottom: 20px;
    line-height: 2em;
}

.index_gallery {
    background: white;
    margin-left:10px;
    margin-right:10px;
    padding-top: 30px;
    margin-top:20px;
}

.index_gallery ul {
    list-style: none;
    margin-left: -25px;
}

.index_gallery ul, li {
    list-style: none;
}

.index_gallery .img_pannel {
}

.index_gallery .img_pannel img{
    max-width: 95%;
}

.index_gallery .img_pannel_discription {
    margin-top: 10px;
    font-size:10px;
}

.index_list_title {
    margin-top:30px;
    font-size:20px;
    color:white;
}

.index_list {
  background: white;
  margin-left:10px;
  padding: 10px;
  margin-top:20px;
}

.index_list .archive {
  margin-top: 20px;
}

.archive a:hover {
  color: gray;
}

.container {
  max-width: 1000px;
  padding-top: 10px;
  background: #fbfbfb;
  overflow: hidden;
}

.container .pictures {
    background: black;
    padding: 10px;
}

.container .pcontent {
    padding-left: 10px;
}

.container .pictures .img {
    margin-top: 10px;
}

.hidden {
  display: none;
}

.banner {
  background: black;
  color: white;
}

.banner ul li {
  margin-bottom: 0px;
  padding-right: 5px;
}

.banner a {color:white;}

.banner a:hover {
  text-decoration: none;
}

a {
  color: black;
}

.title {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .title {
  font-size: 28px;
  color: black;
  font-weight: bolder;
}

.justtitle {
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #38485a;
}

.eof {
  text-align: center;
}

.content, blockquote {
  line-height: 2.5em;
  color: #2f373e;
}

.content i, .content em {
  color: #7f8c8d;
  font-style: normal;
}

.content img {
  height: auto;
  width: 100%;
  display: inline-block;
  margin: 10px auto;
  border-radius: 4px;
}

blockquote p {
  font-weight: 400;
  line-height: 2.3em;
}

.more .title {
  font-size: 1.1em;
}

.forb {
  text-align: right;
  margin-bottom: 20px;
}

.footer {
  max-width: 970px;
  margin: -10px auto;
  text-align: right;
  color: #2f373e;
  margin-bottom: 30px;
}

.date {
  color: #fbfbfb;
  font-weight: bolder;
  text-transform: uppercase;
}

.date a:link {
  color: #fbfbfb;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.date a:visited {
  color: #fbfbfb;
  text-decoration: none;
}

.end {
  margin-top: -20px;
}

blockquote {
  border-left: 5px solid #f1f1f1;
  margin-bottom: 30px;
  font-size: 15px;
}

.footer a:link {
  color: black;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.comments a:link {
  color: black;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.comments a:visited {
  color: black;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.content strong {
  color: #38485a;
  margin: 0px 3px 0px 3px;
}

.archive,.content, .index_posts li {
  list-style: none;
  padding: 0;
}

.archive {
  font-size: 15px;
}

.archive li {
  line-height: 1.5em;
  list-style: none;
}

.archive li time {
  color: gray;
}

.archive .year {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  margin: 25px 0;
  font-weight: bolder;
}

ul,ol {
  list-style: none;
  margin: 0;
}

code {
  border: 1px dashed #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 1px 1px #fbfbfb;
  background: #fbfbfb;
  color: #6b747f;
  margin: 0 5px 0 5px;
}

pre {
  background: #f7fafb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  line-height: 2.2em;
  margin-bottom: 25px;
  padding: 10px;
}

pre code {
  border: none;
  box-shadow: none;
  margin: 0px;
  color: #4e5a66;
}

#disqus_container .comment {
  margin-left: -5px;
}

.info,.suggest {
  color: gray;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
}

.info i {
  font-style: normal;
}

.suggest,.pre {
  float: left;
}

.suggest,.next {
  float: right;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.avatar {
  margin: 0px auto;
  width: 100%;
  text-align: center;
}

.avatar img {
  width:200px;
  height: 200px;
  border-radius: 100px;
}

.about {
  margin: 20px auto;
}

.ret {
  width: 80%;
  margin: 20px auto;
}

.ret {
  text-align: center;
}

.poster,.content p,.content ul,.date {
  margin-bottom: 30px;
}

.footer a:visited,.forb a:link,.suggest a:link,.forb a:visited,.suggest a:visited {
  color: black;
  text-decoration: none;
}

.forb a:hover, .suggest a:hover {
  color: #3498DB;
}

.title a:link,.title a:visited, {
  color: #41464a;
  text-decoration: none;
}

.content a {
  border-bottom: 1px dashed #ecf0f1;
}

.content .center {
  font-style: italic;
  color: #bdc3c7;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}

.archive a, .tagcloud a, .about a, sup a, .footnotes a{
  border: 0px;
}

.content a:visited,.content a:link,.content a:hover {
  color: black;
  margin: 0 2px;
  padding: 3px;
}

.content a:hover {
  color: black;
}

.content .collect_info {
  margin-bottom: 40px;
  color: black;
}

/* table */

.content table {
  margin-bottom: 25px;
  width: 100%;
}

.content table thead {
  border-bottom: 2px solid #ecf0f1;
}

.content table thead tr th:first-child {
  width: 250px;
}

.tagcloud span a:link, .tagcloud a:visited,.tagcloud a:hover  {
  margin: 0px 0px 0px 0px;
}

.footnotes {
  font-size: 13px;
  border-top: 1px solid #f0f0f0;
  padding-top: 30px;
  color: black;
}

.footnotes ol {
  margin-left: -15px;
}

.footnotes ol li {
  list-style: decimal;
  line-height: 2em;
  margin-bottom: -10px;
}

::selection {
  background: black; /* Safari */
  color: white;
}

::-moz-selection {
  background: black; /* Safari */
  color: white;
}

.author {
  max-width: 700px;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.author .icon {
  text-align: center;
}

.author .icon img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border:1px solid #eee;
}

.author .name, .author .description {
  text-align: center;
  border-radius: 4px;
  margin: 10px auto;
  padding: 5px;
  text-shadow: 0 1px 0 #fbfbfb;
}

.author .name {
  width: 100px;
}

.aboutme {
  text-align: center;
}

.justtitle span{
  color: #BDC3C7;
  margin-right: 5px;
}

.indeximg img{
  border-radius: 20px;
}

.newpost span{
  color: #BDC3C7;
}

.not { text-align: center;}

.notfound {
  text-align: center;
  font-size: 6rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.index_dragon {
    width: 400px;
    margin: 0 auto;
}

.index_dragon pre {
    background: #fbfbfb;
    line-height: 1.8em;
}

.index_center {
    text-align: center;
}

.index_category {
  font-size: 10px;
}
