<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
  <style>
  body {background: #fbfbfb}
  </style>
</head>
<body>
<div class="all">
<div class="col-sm-12 title banner">
  <a href="/">GuoJing - InThisMadWorld</a>
<span class="item">
    - <a href="/blog" style="font-size:12px">Posts (中文/Chinese)</a>
    - <a href="/about" style="font-size:12px">About</a>
    - <a href="/books" style="font-size:12px">E-Books</a>
    - <a href="/subscribe" style="font-size:12px">Subscribe</a>
    - <a href="http://guojingphotography.com/" style="font-size:12px" target="_blank">Portfolio</a>
</span>
</div>
</div>

<div class="container">

<div class="main">
{% if page.show %}
<div class="title">{{ page.title }}</div>
{% endif %}
<div class="content">
    {{ content }}
</div>
</div>
</div>
</body>
</html>

