<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
  <script src="https://chimpstatic.com/mcjs-connected/js/users/a4886db82ff53055a16115789/5d6f72260777c5e7e1b2e90e5.js"></script>
</head>
<body>

<div class="container">

<div class="main">
{% if page.show %}
<div class="title">{{ page.title }}</div>
{% endif %}
<div class="content">
	{{ content }}
</div>
</div>
</div>
</body>
</html>

